<h1>Chat</h1>
<hr />

<div class="app-messages" id="app-messages">

  <div class="item" *ngIf="_cs.loaderMsg">
    <ngx-skeleton-loader
      count="6"
      appearance="line"
      animation="progress-dark"
      [theme]="{
        'background-color': '#374c5c',
        width: '140px',
        height: '20px',
        'margin': '20px 0px 0px 10px'
      }"
    ></ngx-skeleton-loader>
  </div>

  <div
    *ngFor="let chat of _cs.chats"
    [ngClass]="{ 'text-end': _cs.user.uid == chat.uid }"
  >
    <span
      [ngClass]="{
        badge: true,
        'bg-primary': _cs.user.uid == chat.uid,
        'bg-info': _cs.user.uid != chat.uid
      }"
    >
      {{ chat.name }}
    </span>
    <p>{{ chat.message }}</p>
  </div>
</div>

<input
  name="message"
  [(ngModel)]="message"
  (keyup.enter)="sendMessage()"
  placeholder="Enviar mensaje"
  class="form-control me-5 mt-1"
/>
