<h1>Chat</h1>
<hr />

<div class="app-messages" id="app-messages">
  <div
    *ngFor="let chat of _cs.chats"
    [ngClass]="{ 'text-end': _cs.user.uid == chat.uid }"
  >
    <span
      [ngClass]="{
        'badge': true,
        'bg-primary': _cs.user.uid == chat.uid,
        'bg-info': _cs.user.uid != chat.uid
      }"
    >
      {{ chat.name }}
    </span>
    <p>{{ chat.message }}</p>
  </div>
</div>

<input
  name="message"
  [(ngModel)]="message"
  (keyup.enter)="sendMessage()"
  placeholder="Enviar mensaje"
  class="form-control me-5"
/>
