<div class="container main-container">
  <div class="d-flex align-items-center justify-content-between">
    <div class="animate__animated animate__fadeIn">
      <h1>Firechat</h1>
      <span class="animate__animated animate__fadeIn" *ngIf="_cs.user.uid"
        >Bienvenido {{ _cs.user.name }}</span
      >
    </div>
    <div class="animate__animated animate__fadeIn" *ngIf="_cs.user.uid">
      <button
        type="button"
        class="btn btn-outline-danger"
        (click)="_cs.logout()"
      >
        LogOut
      </button>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-5">
    <div
      class="chat-window animate__animated animate__fadeIn"
      *ngIf="_cs.user.uid"
    >
      <app-chat></app-chat>
    </div>
  </div>

  <app-login *ngIf="!_cs.user.uid"></app-login>
</div>
