body {
  background-color: #192229;
  color: #fff;
}

.main-container {
  margin-top: 40px;
  margin-bottom: 150px;
}

.puntero {
  cursor: pointer;
}

.chat-window {
  padding: 10px;
  width: 350px;
  overflow: hidden;
  background-color: #212e36;
  border-radius: 10px;
}

.app-messages {
  overflow-y: auto;
  height: 270px;
  padding: 5px;
  background-color: #374c5c;
  background-color: #2a3b47;
  border-radius: 5px;
  padding: 10px;

  /* Propiedades extras para que los esilos del scroll se apliquen en firefox */
  scrollbar-color: rgba(165, 165, 165, 0.651);
  scrollbar-width: thin;
}

/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.app-messages::-webkit-scrollbar {
  -webkit-appearance: none;
}

.app-messages::-webkit-scrollbar:vertical {
  width: 10px;
}

.app-messages::-webkit-scrollbar-button:increment,
.app-messages::-webkit-scrollbar-button {
  display: none;
}

.app-messages::-webkit-scrollbar:horizontal {
  height: 10px;
}

.app-messages::-webkit-scrollbar-thumb {
  background-color: rgba(165, 165, 165, 0.651);
  border-radius: 20px;
}

.app-messages::-webkit-scrollbar-track {
  border-radius: 10px;
}